@charset "gb2312";
/* CSS Document */
* {
	padding:0;
	margin:0;
	font:"ו";
	font-size:12px;
}
.main {
	margin:0 auto;
}
a:link {
	color:#333333;
	font-size:12px;
	text-decoration:none;
}
a:hover {
	color:#333333;
	font-size:12px;
	text-decoration:none;
}
a:active {
	color:#333333;
	font-size:12px;
	text-decoration:none;
}
a:visited {
	color:#333333;
	font-size:12px;
	text-decoration:none;
}